.card {
    background-image: url("../../../assets/images/Background.jpg");
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.525);
    color: white;
    font-family: inherit;
    width: 50%;
}

.first {
    background-image: url("../../../assets/images/Background.jpg");
}

.second {
    background-image: url("../../../assets/images/Background-2.png");
}

.third {
    background-image: url("../../../assets/images/Background-3.png");
}